@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');

body{
    font-family: 'Lusitana',serif;
}
.container {
    /* Used to position the left vertical line */
    position: relative;
    height: auto;
    min-width: 500px;
}

.container__line {
    /* Border */
    border-right: 2px solid blue;

    /* Positioned at the left */
    left: 16px;
    position: absolute;
    top: 0px;

    /* Take full height */
    height: 200px;
}

.container__items {
    /* Reset styles */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.container__item {
    margin-bottom: 0px;
    box-sizing: border-box;
}

.container__top {
    /* Center the content horizontally */
    align-items: center;
    display: flex;
}

.container__circle {
    /* Rounded border */
    background-color: blue;
    border-radius: 9999px;

    /* Size */
    height: 32px;
    width: 32px;
}


.container__title {
    /* Take available width */
    flex: 1;
    background-color: blue;
}

.container__desc {
    /* Make it align with the title */
    margin-left: 48px;
}

h1{
    background-color:  white;
}

.titulo{
    margin-top: 0;
}

.image-profile{
    border: solid   blue;
    border-radius: 15px;
    height: 250px;
    margin-left: 16px;
}

article{
    display: flex;
}

.caja-datos{
    margin-left: 60px;
    border-top: 20px solid blue;
    border-bottom: 20px solid blue;
    width: 100%;
}

#lista-d{
   padding-left: 20px;
}

li{
    padding-bottom: 10px;

}
.skills{
    padding-left: 20px;
}